/*body {*/
    /*margin-top: 40px;*/
    /*text-align: center;*/
    /*font-size: 14px;*/
    /*font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;*/
/*}*/

#wrap {
    width: 1100px;
    margin: 0 auto;
}

#customer_div {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

/*#customer_div h4 {*/
    /*font-size: 16px;*/
    /*margin-top: 0;*/
    /*padding-top: 1em;*/
/*}*/

#customer_div .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

/*#customer_div p {*/
    /*margin: 1.5em 0;*/
    /*font-size: 11px;*/
    /*color: #666;*/
/*}*/

/*#customer_div p input {*/
    /*margin: 0;*/
    /*vertical-align: middle;*/
/*}*/

/*#calendar {*/
    /*float: right;*/
    /*width: 900px;*/
/*}*/
